<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="exceptionless" type="Exceptionless.Configuration.ExceptionlessSection, Exceptionless" />
    <sectionGroup name="Escc.ClientDependencyFramework">
      <section name="CssFiles" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <section name="MediaQueries" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <section name="ScriptFiles" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>
    <sectionGroup name="Escc.Net">
      <section name="Proxy" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>
    <sectionGroup name="EsccWebTeam.EastSussexGovUK">
      <section name="GeneralSettings" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <section name="RemoteMasterPage" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <section name="HttpsReplaceOnRender" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>
  </configSections>

  <Escc.ClientDependencyFramework>
    <CssFiles>
      <add key="HandlerPath" value="/escc.eastsussexgovuk/css/{0}.cssx" />
    </CssFiles>
    <ScriptFiles>

    </ScriptFiles>
    <MediaQueries>
      <add key="Medium" value="only screen and (min-width: 474px)" />
      <add key="Large" value="only screen and (min-width: 802px)" />
    </MediaQueries>
  </Escc.ClientDependencyFramework>

  <!-- Enable this section if you're behind a proxy 
  <Escc.Net>
    <Proxy>
      <add key="Server" value="" />
      <add key="User" value="" />
      <add key="Password" value="" />
    </Proxy>
  </Escc.Net> -->

  <EsccWebTeam.EastSussexGovUK>
    <GeneralSettings>
      <add key="BaseUrl" value="https://www.eastsussex.gov.uk" />
    </GeneralSettings>
    <RemoteMasterPage>
      <add key="CacheMinutes" value="60" />
      <add key="MasterPageControlUrl" value="https://www.eastsussex.gov.uk/masterpages/remote/control.aspx?control={0}" />
    </RemoteMasterPage>
    <HttpsReplaceOnRender>
      <add key="REGEX:&lt;input[^&gt;]+__VIEWSTATE[^&gt;]+&gt;" value="" />
      <add key="REGEX:&lt;meta name=&quot;DC.identifier&quot;[^&gt;]+&gt;" value="" />
      <add key="REGEX:&lt;meta rel=&quot;canonical&quot;[^&gt;]+&gt;" value="" />
      <add key="REGEX:&lt;meta property=&quot;og:url&quot;[^&gt;]+&gt;" value=""/>
    </HttpsReplaceOnRender>
  </EsccWebTeam.EastSussexGovUK>

  <exceptionless apiKey="API_KEY_HERE" />

  <system.web>
    <compilation targetFramework="4.6.1"/>
    <pages masterPageFile="~/masterpages/desktop.master">
        <controls>
          <add tagPrefix="Metadata" namespace="Escc.Web.Metadata" assembly="Escc.Web.Metadata, Version=1.0.0.0, Culture=neutral, PublicKeyToken=06fad7304560ae6f" />
          <add tagPrefix="ClientDependency" namespace="Escc.ClientDependencyFramework.WebForms" assembly="Escc.ClientDependencyFramework.WebForms, Version=1.0.0.0, Culture=neutral, PublicKeyToken=06fad7304560ae6f" />
        </controls>
      </pages>
    </system.web>

  <system.webServer>
    <handlers accessPolicy="Read, Script" />
    <defaultDocument>
      <files>
        <add value="template.aspx"/>
      </files>
    </defaultDocument>
    <modules>
      <add name="ExceptionlessModule" type="Exceptionless.Web.ExceptionlessModule, Exceptionless.Web" />
      <remove name="ContentSecurityPolicy"/>
      <add name="ContentSecurityPolicy" type="Escc.Web.ContentSecurityPolicyModule" />
    </modules>
  </system.webServer>

</configuration>
