@model Escc.Registration.BookingTemplate.StopfordModel
@{
    Model.Metadata.Title = "{pagetitle}";
    Model.Metadata.DateCreated = new DateTimeOffset(new DateTime(2015, 11, 25));
}
@section Metadata {
    {meta}
    <meta name="google-site-verification" content="5gKKQri2rzJNgQjapQfxPA6M323lz_17bNerLhZShSs" />
}
@section Breadcrumb {
    <nav>
        <h2 class="aural">You are here</h2>
        <ol class="breadcrumb screen large">
            <li class="up level1"><span class="aural">Level 1: </span><a href="https://new.eastsussex.gov.uk/">Home</a></li>
            <li class="up level2"><span class="aural">Level 2: </span><a href="https://new.eastsussex.gov.uk/community/">Community</a></li>
            <li class="up level3"><span class="aural">Level 3: </span><a href="https://new.eastsussex.gov.uk/community/registration/">Births, deaths, marriages and civil partnerships</a></li>
            {breadcrumb}
        </ol>
    </nav><nav>
        <p class="screen small medium breadcrumb-mobile">You are in <a href="https://new.eastsussex.gov.uk/community/registration/">Births, deaths, marriages and civil partnerships</a></p>
    </nav>
}
<div class="full-page stopford">
    <article>
        <div class="content text-content">
            {content}
        </div>
    </article>
</div>
